Bank.XMLWebApi/Schemas/ArrayOfSupportRequest.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ArrayOfSupportRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SupportRequest" type="SupportRequestType" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SupportRequestType">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="userId" type="xs:int" />
			<xs:element name="subject" type="xs:string" />
			<xs:element name="message" type="xs:string" />
			<xs:element name="status" type="xs:string" default="Pending" />
			<xs:element name="response" type="xs:string" minOccurs="0" />
			<xs:element name="category" type="xs:string" minOccurs="0" />
			<xs:element name="createdDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>