Bank.XMLWebApi/Schemas/CardTransactionDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

	<xs:element name="CardTransactionDto">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cardId" type="xs:int" />
				<xs:element name="amount">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="userId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
