Bank.XMLWebApi/Schemas/DepositWithdrawDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DepositWithdrawDto" type="DepositWithdrawType"/>

	<xs:complexType name="DepositWithdrawType">
		<xs:sequence>
			<xs:element name="userId" type="xs:int"/>
			<xs:element name="amount" type="xs:decimal"/>
			<xs:element name="transactionType" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="accountId" type="xs:string"/>
			<xs:element name="operationType" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
