Bank.XMLWebApi/Schemas/LoginEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

	<xs:element name="LoginEvent" type="LoginEventType"/>

	<xs:complexType name="LoginEventType">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="userId" type="xs:int"/>
			<xs:element name="ipAddress" type="xs:string">

			</xs:element>
			<xs:element name="isSuccessful" type="xs:boolean"/>
			<xs:element name="timestamp" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
