Bank.XMLWebApi/Schemas/LoginToken.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ArrayOfLoginToken">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LoginToken" type="LoginTokenType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="LoginTokenType">
		<xs:sequence>
			<xs:element name="Id" type="xs:int"/>
			<xs:element name="UserId" type="xs:int"/>
			<xs:element name="Token" type="xs:string"/>
			<xs:element name="CreatedDate" type="xs:dateTime"/>
			<xs:element name="ExpirationDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
