Bank.XMLWebApi/Schemas/LoginToken.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="LoginToken" type="LoginTokenType"/>

	<xs:complexType name="LoginTokenType">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="userId" type="xs:int"/>
			<xs:element name="token" type="xs:string" minOccurs="1"/>
			<xs:element name="createdDate" type="xs:dateTime"/>
			<xs:element name="expirationDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
