Bank.XMLWebApi/Schemas/SupportRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ArrayOfSupportRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SupportRequest" type="SupportRequestType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SupportRequestType">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
      <xs:element name="UserId" type="xs:int" />
      <xs:element name="Subject" type="xs:string" />
      <xs:element name="Message" type="xs:string" />
      <xs:element name="Status" type="xs:string" default="Pending" />
      <xs:element name="Response" type="xs:string" minOccurs="0" />
      <xs:element name="Category" type="xs:string" minOccurs="0" />
      <xs:element name="CreatedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
